Repository microsoft/vscode-cpptools, pull requests merged in 2019-04, with the labels that each got.

#3314 Taraj/box sample
  .gitignore
  Code Samples/BoxConsoleSample/Objects/box.h
  Code Samples/BoxConsoleSample/README.md
  Code Samples/BoxConsoleSample/box_sample.cpp
  Code Samples/BoxConsoleSample/build_debug_command.png
  Code Samples/BoxConsoleSample/build_debug_context_menu.png
  Code Samples/SampleClangProject/.gitignore
  Code Samples/SampleClangProject/.vscode/launch.json
  Code Samples/SampleClangProject/.vscode/tasks.json
  Code Samples/SampleClangProject/README.md
  Code Samples/SampleClangProject/main.cpp
  Extension/.gitignore
Labels: docs

#3488 Add debugHeap toggle and turn off by default
  Extension/package.json
  Extension/src/Debugger/configurationProvider.ts
  Extension/tools/OptionsSchema.json
Labels: debugger

#3487 Add styling to configuration UI
  Extension/package.nls.it.json
  Extension/package.nls.json
  Extension/package.nls.zh-cn.json
  Extension/src/LanguageServer/configurations.ts
  Extension/ui/settings.html
  Extension/ui/settings.ts
Labels: configuration
